# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
**/.venv/

# Environment variables
**/.env

# IDE
.DS_Store
.idea/
.vscode/

# Logs
# agent/logs/

# Egg-info
*.egg-info/

# Large data files
training/data/huggingface_data/ori_data/
training/data/huggingface_data/convert_192k/*.jsonl
training/data/huggingface_data/convert_30_epochs/*.jsonl
training/data/*

