cachetools
trafilatura
json-repair
htmldate
pydantic
requests
openai
asyncio
numpy
argparse
scrapy
pdfplumber
python-docx
pandas
pdfminer.six
beautifulsoup4
fake-useragent
python-dotenv
lxml
tqdm
aiohttp
jsonschema